<div class="container contact-form "style="overflow: hidden; ">
    
    <h5 class="text-center  mt-4" style="color: #5377f8b0;">Create an Offer</h5>
    <div class="container contact-form"  >

      <form [formGroup]="myForm"  (submit)="Submit()">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="lb" for="date">titre</label>
              <input type="text" formControlName="titre" class="form-control" placeholder="titre de loffre" />
            </div>
            <div class="form-group">
              <label class="lb" for="startTime">description</label>
              <input type="text" formControlName="description" class="form-control" placeholder="description de loffre" />
            </div>
            <div class="form-group">
                <div class="form-group" style="height: 72px;">
                    <label for="identity" class="lb" >niveau etude</label>
                    <select class="form-select" aria-label="Default select example" formControlName="niveau_etude">
                      <option   value="" selected>niveau etude</option>
                      <option   value="BAC_PLUS_2" >BAC_PLUS_2</option>
                      <option   value="BAC" selected>BAC</option>
                    </select>
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="lb" for="numParticipants">profile</label>
              <input type="text" formControlName="profile" class="form-control" placeholder="profile" />
            </div>
            <div class="form-group">
              <label class="lb" for="endTime">salaire</label>
              <input type="number" formControlName="salaire" class="form-control" placeholder="salaire" />
            </div>
            
          </div>
        </div>
        <div class="form-group text-end mt-5">
          <input type="submit" name="btnSubmit" class="btnContact" value="Add Competition" />
        </div>
      </form>
        

      </div>
      
      
</div>