
.ic{
    color: #504DC1;
    margin-right: 5px;
}
.textcolor{
    color:#2557a7;
}
.icbg{
    background-color: #504DC1;
    color: white;
}

.uploadfile label {
	display: block;
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	background-color: #0069d9;
	border-radius: 2px;
	font-size: 1em;
	line-height: 2.5em;
	text-align: center;
}

.uploadfile label:hover {
	background-color: #726fc2;
}

.uploadfile label:active {
	background-color: mediumaquamarine;
}

.uploadfile input {
	border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.uploadfile body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-color: black;
}


.container{
			margin-top: 10px;
			width: 400px;
			border: ridge 1.5px white;
			padding: 20px;
		}
		body{
			background: #E0EAFC;  /* fallback for old browsers */
			background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

		}
	
		.wrapper{

			display: inline-flex;
			background: #fff;
			height: 80px;
			width: 350px;
			align-items: center;
			justify-content: space-evenly;
			border-radius: 5px;
			padding: 20px 15px;
			
		  }
		  .wrapper .option{
			background: #fff;
			height: 100%;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			margin: 0 10px;
			border-radius: 5px;
			cursor: pointer;
			padding: 0 10px;
			border: 2px solid lightgrey;
			transition: all 0.3s ease;
		  }
		  .wrapper .option .dot{
			height: 20px;
			width: 20px;
			background: #d9d9d9;
			border-radius: 50%;
			position: relative;
		  }
		  .wrapper .option .dot::before{
			position: absolute;
			content: "";
			top: 4px;
			left: 4px;
			width: 12px;
			height: 12px;
			background: #0069d9;
			border-radius: 50%;
			opacity: 0;
			transform: scale(1.5);
			transition: all 0.3s ease;
		  }
		  input[type="radio"]{
			display: none;
		  }
		  #option-1:checked:checked ~ .option-1,
		  #option-2:checked:checked ~ .option-2{
			border-color: #0069d9;
			background: #0069d9;
		  }
		  #option-1:checked:checked ~ .option-1 .dot,
		  #option-2:checked:checked ~ .option-2 .dot{
			background: #fff;
		  }
		  #option-1:checked:checked ~ .option-1 .dot::before,
		  #option-2:checked:checked ~ .option-2 .dot::before{
			opacity: 1;
			transform: scale(1);
		  }
		  .wrapper .option span{
			font-size: 20px;
			color: #808080;
		  }
		  #option-1:checked:checked ~ .option-1 span,
		  #option-2:checked:checked ~ .option-2 span{
			color: #fff;
		  }