<form [formGroup]="form" (ngSubmit)="submitForm()" class="container contact-form" style="overflow: hidden;">

  <h5 class="text-center mt-4" style="color: #5377f8b0;">Postule for an Offer</h5>

  <div class="container contact-form">
      <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                  <label class="lb" for="nomComplet">Nom Complet:</label>
                  <input type="text" id="nomComplet" formControlName="nomComplet" class="form-control" placeholder="Your full name" required>
              </div>
              
              <div class="form-group">
                  <label class="lb" for="cv">CV:</label>
                  <input type="file" id="cv" (change)="onFileChange($event, 'cv')" class="form-control" required>
              </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="lb" for="tel">Telephone:</label>
              <input type="tel" id="tel" formControlName="tel" class="form-control" placeholder="Your telephone number" required>
            </div>
              <div class="form-group">
                  <label class="lb" for="numParticipants">Motivation:</label>
                  <input type="file" id="motivation" (change)="onFileChange($event, 'motivation')" class="form-control" required>
              </div>
          </div>
      </div>
      <div class="form-group text-end mt-5">
          <button type="submit" name="btnSubmit" class="btnContact" [disabled]="!form.valid">Submit</button>
      </div>
  </div>
</form>
