<div class=" mb-4">
    <div class="card-body">
        
        <div class="row">
           
            <div class="col-md-12">
                
                <div class="d-flex justify-content-between ">
                    <div class="alert alert-light w-25 " role="alert">
                        <span class="badge"> Accepted </span> <br>
                        {{statistics.accepted}}
                    </div>
                    <div class="alert alert-light w-25 " role="alert">
                        <span class="badge1"> Refused </span> <br>
                        {{statistics.refused}}
                    </div>
                    <div class="alert alert-light w-25" role="alert">
                        <span class="badge11"> Waiting </span> <br>
                        {{statistics.WAITING}}
                    </div>  
                </div>
            </div>
           
        </div>
        
        
        <table class="table table-striped">
            
            <thead>
                <tr>
                    <th class="text-center" >nom complet</th>
                    <th class="text-center" >CV</th>
                    <th class="text-center" >Motivation</th>
                    <th class="text-center" >action</th>
                    <th class="text-center" >Status</th>
                </tr>
            </thead>
            
            <tbody>
                
                <tr *ngFor="let ps of Postule" >

                    <td class="text-center" >{{ps.candidateDTO.fullname}}</td>
                    <td class="text-center" >
                        <fa-icon [icon]="fpdf" class="ic" (click)="OpenCv(ps.cv)"  ></fa-icon>
                        <span>CV</span>
                        <!-- {{ps.cv}} -->
                    </td>
                   
                    <td   class="text-center">
                    <span class="  rounded-3 ">
                        <!-- {{ps.motivation}} -->
                        <!-- <fa-icon [icon]="ffile" class="ic"></fa-icon> -->
                        <fa-icon [icon]="fpdf" class="ic" (click)="OpenCv(ps.motivation)"  ></fa-icon>

                        <span>lettre</span>
                    </span></td>
                    <td class="text-center" >
                        <!-- accept -->
                        <fa-icon [icon]="faccept " class="ic text-success me-2" (click)="accepterPostule(ps.id)"  ></fa-icon>
                        <!-- accept -->
                        <!-- refused -->
                        <fa-icon [icon]="frefuse " class="ic me-2 text-danger"  (click)="refuserPostule(ps.id)"    ></fa-icon>
                        <!-- refused -->
                    </td>
                    <td class="text-center"  >
                       <span [ngClass]="{'badge': ps.postuleResponse === 'ACCEPTED', 'badge1': ps.postuleResponse == 'REJECTED','badge11': ps.postuleResponse == 'WAITING'}">
                         {{ps.postuleResponse}} 
                        </span>
                    </td>
                    
                </tr>
                
                
            </tbody>
            
        </table>
        
    </div>
</div>