<div class="mt-5 container societe-container d-flex justify-content-between">

    <div class="societe-image me-3">
        <img src="../../../assets/images/comapny.jpg" class="rounded-2 " alt="" srcset="" width="400px" height="300px">
    </div>
    <div class="societe-info">
        <div class="titredescription">
            <h3 class="textcolor mb-4">Titre de Company</h3>
            <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam totam asperiores tempora <br> velit qui quos temporibus eaque doloribus fugit impedit.</p>
        </div>
        <div class="extraInfo" >
            <p class="mt-3">
                <fa-icon [icon]="flocation " class="ic" ></fa-icon> Lorem, ipsum dolor.
            </p>
            
            <p class="">
                <fa-icon [icon]="femail " class="ic"></fa-icon> ema@ema.com
            </p>
            <p>
                <fa-icon [icon]="fphone " class="ic"></fa-icon> 012343213
            </p>
            
        </div>

    </div>

</div>