body {
    font-family: Montserrat, sans-serif;
  }
  .navbar-brand {
    background-image: url("../assets/images/download-removebg-preview.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 60px;
    height: 50px;
  }
  
  .navbar-nav .nav-item:hover {
    background-color: rgba(180, 190, 203, 0.4);
  }
  