<div class="p-2 overflow-x-hidden">

    <p> List Of Offers </p>
    
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="d-flex justify-content-between my-2">
            <div>
                <select formControlName="titre">
                    <option value="Java" >Java</option>
                    <option value="Php" >Php</option>
                </select>
               
            </div>
            
            <button (click)="TakeTest()" class="btn btn-primary"> Take Test </button>
        
        </div>
    </form>
 
    <!-- <p *ngIf="isLoading | async" > is Loading ...</p> -->
    <!-- <p *ngIf="error | async" class="text-danger" > {{error | async}}</p> -->

    <div class=" mb-4">
        <div class="card-body">  
            
            <div class="row">
            
                <div class="col-md-12">
                
                    <div class="input-group md-form form-sm form-2 pl-0">
                        <input class="form-control my-0 py-1 pl-3 purple-border" type="text" placeholder="search an offer" aria-label="Search">
                        <span class="input-group-addon waves-effect purple lighten-2 p-2"  id="basic-addon1" ><fa-icon [icon]="fsearch " class="ic"></fa-icon></span> 
                    </div>
                </div>
            
            </div>
            
            
            <table class="table table-striped">
                
                <thead>
                    <tr>
                        <th class="text-center" >titre</th>
                        <th class="text-center" >description</th>
                        <th class="text-center" >profile</th>
                        <th class="text-center" >status</th>
                        <th class="text-center" >action</th>
                    </tr>
                </thead>
                
                <tbody>
                    

                    <ng-container *ngIf="offerState$ | async as state" >
                        
                    <tr *ngFor="let offer of state.offer" >

                        <td class="text-center" >{{offer.titre}}</td>
                        <td class="text-center" >{{offer.description}}</td>
                        <td class="text-center" >{{offer.profile}}</td>
                        <td   class="text-center"   ><span class="badge1  rounded-3" [ngClass]="{'badge': offer.status === 'ACCEPTED', 'badge1': offer.status == 'REJECTED','badge11': offer.status == 'WAITING'}">{{offer.status}}</span></td>
                        <td class="text-center "><button class="btn btn-primary" (click)="openPostule(offer.id, offer.idSociete, candidateID)" > Postuler </button></td>
                        
                    </tr>

                    
                        </ng-container>
                    
                </tbody>
                <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[3,6,10,15]" aria-label="Select page"
                    (page)="onPageChange($event)" >
                </mat-paginator>

            </table>
            
        </div>
    </div>

    <!-- <pre>{{ candidates$ | async | json }}</pre> -->
    
</div>

